.anaylze-page {
  // 全局样式 防止污染
  :global {
    // Collapse 修改 样式
    .ant-collapse-header {
      padding: 0 !important;
      padding-top: 16px !important;
      padding-bottom: 24px !important;
      font-weight: bolder;
      // 标题
      font-size: 16px;
      line-height: 22px !important;

      .ant-collapse-arrow {
        // 箭头
        font-size: 14px !important;
      }
    }

    .ant-collapse-content-box {
      // 内容
      padding: 0 !important;
      padding-bottom: 24px !important;
    }

    .ant-collapse-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .ant-form-item {
      margin-bottom: 12px;
    }
  }
}

// 筛选条件
.search-box {
  width: 100%;
  padding: 16px 32px;
  background: #fff;
  border-radius: 2px;

  .label {
    flex-shrink: 0;
    width: 90px;
    margin-right: 12px;
    text-align: right;
  }

  .search-content {
    width: 200px;
  }
}

// 图表盒子
.chart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px 32px;
  background: #fff;
  border-radius: 2px;
  .chart-title {
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;
  }
}

.table-box {
  width: 100%;
  padding: 16px 32px;
  background: #fff;
  border-radius: 2px;
}

//
.zy-row {
  display: flex;
  align-items: center;
}
