.title-box {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}

.zy-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-page {
  flex: 1 0 auto;
  padding: 24px;
  background: #f0f2f5;
}
